
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    #app {
        width: 100%;
        height: 100%;

        ul {
            padding: 0;

            li {
                list-style: none;
            }
        }

        a {
            text-decoration: none;
        }

        button{
            background-color:transparent;
            border:0px;
            &:hover{
                border:0px;
                outline:0px;
            }
            &:focus{
                border:0px;
                outline:0px;
            }
        }
    }
}

/** index page **/
.content-container {
    padding: 40px;

    p {
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-content: center;
        grid-gap: 10px;
    }

    &.index-page {
        display: flex;
        flex-direction: column;
        grid-gap: 40px;

        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }

    &.quickgrid-page {
        display: flex;
        flex-direction: column;
        grid-gap: 40px;

        .content {
            
        }
    }

    &.commongrid-page {
    }

    &.component-renderer-page {
    }

    &.js-renderer-page {
    }
}

/**QuickGrid*/
.quick-grid-content {
    height: 800px;
    overflow: auto;
    padding-top: 0px;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #161616;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .quickgridTable {
        width: 100%;
        border-collapse: collapse;
        font-family: IBM Plex Sans;

        thead {
            position: sticky;
            top: 0;
            z-index: 1;

            tr {
                th {
                    background-color: #202020;
                    height: 48px;
                    padding: 0 1rem;

                    .col-header-content {
                        .col-title {
                            gap: 10px;

                            .col-title-text {
                                color: #fff;
                                font-family: IBM Plex Sans;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 21px;
                            }
                        }
                    }

                    &.col-sort-desc {
                        .sort-indicator {
                            background-image: url(../../imgs/chevron.svg);
                        }
                    }

                    &.col-sort-asc {
                        .sort-indicator {
                            background-image: url(../../imgs/chevron.svg);
                            transform: rotateY('180');
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #333333;
                background-color: #262626;

                td {
                    font-size: 14px;
                    color: #fff;
                    height: 48px;
                    padding: 0 1rem !important;
                }

                &:hover {
                    background-color: #333333;
                }

                &:last-child {
                    border: 0px;
                }
            }
        }
    }

    .pagination-wrapper {
        background-color: #262626;
        min-height: 48px;
        border-top: 1px solid #333;
        padding: 0 1rem;
        font-family: IBM Plex Sans;
        display: flex;
        align-items: center;
        position: sticky;
        bottom: 0px;

        .pagination-pagesize {
            white-space: nowrap;
            padding-right: 15px;
            display: flex;
            gap: 15px;
            align-items: center;
            font-size: 14px;
            height: 48px;

            select {
                min-width: 50px;
                height: 100%;
                background-color: transparent;
                color: #fff;
                border: 0px;

                option {
                    background-color: #262626;
                    padding: 3px;
                }
            }
        }

        .paginator {
            width: 100%;
            background-color: #262626;
            min-height: 48px;
            margin: 0px !important;
            border-top: 0px;
            padding: 0 !important;
            padding-left: 15px !important;
            border-left: 1px solid #333;

            .pagination-text, .summary {
                font-size: 14px;
            }

            .go-first {
                background-image: url(../../imgs/chevron2.svg);
                transform: rotateY(180deg);
                background-size: 12px 12px;
                cursor: pointer;
            }

            .go-previous {
                background-image: url(../../imgs/chevron.svg);
                transform: rotate(90deg);
                cursor: pointer;
            }

            .go-next {
                background-image: url(../../imgs/chevron.svg);
                transform: rotate(-90deg);
                cursor: pointer;
            }

            .go-last {
                background-image: url(../../imgs/chevron2.svg);
                transform: rotateY(0deg);
                background-size: 12px 12px;
                cursor: pointer;
            }
        }
    }
}