@page "/"

<div class="content-container index-page">
    <p>
        Blazor 그리드 테스트 프로젝트
    </p>

    <ul>
        <li>
            <a href="/quickGrid">QuickGrid</a>
        </li>
    </ul>

</div>